/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic styles */
body{
  background-color: rgb(255, 255, 255);
  font-family: verdana;
}

img {
  max-width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Top Banner */
.top-banner {
  height: 200px;
  background-color: #242d47;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

/*Footer*/
.site-footer {
  background-color: #26272b;
  color: #737373;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.site-footer a {
  color: #737373;
  text-decoration: none;
}
.site-footer a:hover {
  color: #3366cc;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin: 0 10px;
}
.copyright-text {
  margin: 10px 0 0;
}

ul.gear-list {
  padding-left: 20px;
  list-style-type: disc;
}

ul.gear-list li {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 2;
}
