/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic styles */
body{
  background-color: rgb(255, 255, 255);
  font-family: verdana;
}

img {
  max-width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Top Banner */
.top-banner {
  height: 200px;
  background-color: #242d47;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}
